@page "/"

<body>
    <p>
    

        <img src="Imagen/Quick music (4).gif" alt="QuickMusic" width="120%" />


        <img src="Imagen/black.jpg" alt="QuickMusic" width="100%" />

        <img src="Imagen/black.jpg" alt="QuickMusic" width="100%" />
    </p>
</body>