@page "/"

<body>
    <p>


 
        <center><img src="Imagen/Quick music (6).gif" alt="QuickMusic" width="100%" /></center>


        <img src="Imagen/black.jpg" alt="QuickMusic" width="100%" /> .


        <img src="Imagen/black.jpg" alt="QuickMusic" width="100%" />
    </p>    
</body>