@page "/"

<body>
    <p>
        <img src="Imagen/QuickMusic (1).png"  alt="QuickMusic" width="100%"  />
        <img src="Imagen/neon.png" alt="QuickMusic" width="100%" />
        <img src="Imagen/black.jpg" alt="QuickMusic" width="100%" />
       
    </p>
</body>